// app/assets/stylesheets/application.css.sass
/*
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";

body 
{
	background-color: lightgray;
}

#logo 
{
	padding: 3px 15px;
}

.pic-thumb 
{
	border: 5px solid gray;
	border-radius: 5px;
	margin-bottom: 30px;
}

.friend-bar
{
	height: 30px;
	border-radius: 15px;
	background: linear-gradient(to right, yellow, red);
	padding: 0;
}

.paws-container
{
	min-height: 40px;
	margin: 0;
}

.paw-image
{
	margin: 1px 0px;
}

