// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$next-prev-btn-size: 50px;
$pic-btn-size: 40px;


.index-button button {
	color: rgb(237, 28, 36);
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  padding: 6px;
}

.index-button-container
{
	text-align: center;
	width: 300px;
  margin: 20px auto;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  padding: 10px;
}

.picture-box
{
	background-color: gray;
	border-radius: 5px;
}

.picture-sub-box
{
	background-color: black;
	text-align: center;
	border-radius: 3px;
  overflow: hidden;
}

.picture-box > div
{
	margin: 0 auto;
	
	padding-bottom: 15px
	
}

.picture-box > h1 
{
	margin: 0;
}

.picture-box a
{
	color: #AE2121;
}

.main-pic
{
	margin: 0 auto;
}

.vote-btn
{

	font-size: 20px;
	border-radius: 10px;
}


#prev-pic-btn, #next-pic-btn {
	font-size: $next-prev-btn-size;
	color: rgb(219, 82, 75);
	position: fixed;
	top: 150px;
}

.next-pic-container, .last-pic-container {
	width: $next-prev-btn-size;
}

.next-pic-container {
	float: right;
}

.last-pic-container {
	float: left;
}


.pic-button {
	height: $pic-btn-size;
	width: $pic-btn-size;
	border-radius: 3px;
	background-color: rgb(85, 85, 85);
  border: 2px solid rgb(85, 85, 85);
	padding: 0;
}

.pic-button:hover {
	background-color: rgb(85, 85, 85);
	border-color: rgb(85, 85, 85);
}


@mixin backgroundimage($url, $width_per, $height_per)
{
	background-image: image-url($url);
	background-size: $width_per $height_per;
	background-repeat: no-repeat;
	background-position: center; 
}


#fiend-btn
{
  float: left;
	@include backgroundimage("fiend_btn_bg.png", 100%, 100%);
}

#fiend-btn.selected {
  background-color: rgb(237, 28, 36);
}

#friend-btn
{
  float: left;
  margin-right: 5px;
	@include backgroundimage("friend_btn_bg.png", 100%, 100%);
}

#friend-btn.selected {
  background-color: rgb(255, 242, 0);
}

#fav-btn
{
  float: right;
	@include backgroundimage("fav_btn_bg.png", 100%, 100%);
}

#fav-btn.selected {
  // change this
  background-color: #AE2121; 
}

.caption {
  margin-top: 5px;
  color: white;
}

.unselected {
  background-color: #D3D3D3;
}

.pic-friend-bar {
  height: 10px;
  width: 150px;
  display: inline-block;
  margin: 15px 10px 0 0;

  @media (max-width: 450px) {
    height: 7px;
    width: 70px;
  }
}

#comments-container {
  background-color: gray;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#comments-container > .row {
  margin-bottom: 10px
}

#comment-input {
  background-color: black;
  border-color: black;
  color: white;
  resize: none;
  width: 100%;
  border-radius: 5px;
  padding: 2px 4px;
}

.single-comment-box {
  background-color: #181817;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.single-comment-box p {
  color: #ddddd1;
}

.single-comment-box a {
  color: #AE2121;
}

.single-comment-box span {
  color: rgb(149, 139, 139);
}

.single-comment-box p {
  margin: 0;
}