// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-button
{
	margin: 0px 20px;
}

.index-button-container
{
	margin: 20px 0;
	text-align: center;
}