// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-button
{
	margin: 0px 20px;
}

.index-button-container
{
	margin: 20px 0;
	text-align: center;
}

.picture-box
{
	background-color: gray;
	// max-width: 730px;
	border-radius: 5px;
}

.picture-sub-box
{
	// max-width: 700px;
	background-color: black;
	text-align: center;
}

.picture-box > div
{
	margin: 0 auto;
	
	padding-bottom: 15px
	
}

.picture-box > h1 
{
	margin: 0;
}

.picture-box a
{
	color: #CA4242;
}

// .next-prev-btn
// {
// 	min-width: 60px;
// }
.next-prev-btn a
{
	color: white;
}

.main-pic
{
	margin: 0 auto;
}

.vote-btn
{
	// display: inline-block;
	// min-width: 100px;
	font-size: 20px;
	border-radius: 10px;
}

// .vote-container
// {
// 	text-align: center;
// 	// margin: 0 auto;
// }
.friend-vote
{
	background-color: yellow;
}
.fiend-vote
{
	background-color: red;
}