// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pic-container
{
	background-color: white;
	min-height: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 10px
}
